@model SearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>To Do</h1>

<p>
    <a asp-action="Create">What's Next?</a>
</p>
<p>
    @if (Model.ShowAll)
    {
        <a asp-action="Index" asp-route-showAll="false">Show Only Incomplete Tasks</a>
    }
    else
    {
        <a asp-action="Index" asp-route-showAll="true">Show All</a>
    }

</p>

<form asp-action="Index" asp-controller="ToDo" method="get">
    <div class="form-group">
        <label asp-for="SearchText" class="control-label"></label>
        <input asp-for="SearchText" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Cetegory
            </th>
            <th>
                Title
            </th>
            <th>
                Due Date
            </th>
            <th>
                Remaining Hour
            </th>
            <th>
                Is Completed
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Result) {
        <tr>
            <td>
                @if (item.IsCompleted)
                {
                    <del>@Html.DisplayFor(modelItem => item.Category.Name)</del> }
                else
                {
                    @Html.DisplayFor(modelItem => item.Category.Name)
                }
            </td>
            <td>
                @if (item.IsCompleted)
                {
                    <del>@Html.DisplayFor(modelItem => item.Title)</del> }
                else
                {
                    @Html.DisplayFor(modelItem => item.Title)
                }
            </td>
            <td>
                @if (item.IsCompleted)
                {
                    <del>@Html.DisplayFor(modelItem => item.DueDate)</del> }
                else
                {
                    @Html.DisplayFor(modelItem => item.DueDate)
                }
            </td>
            <td>
                @if (item.IsCompleted)
                {
                    <del>@Html.DisplayFor(modelItem => item.RemainingHour)</del> }
                else
                {
                    @Html.DisplayFor(modelItem => item.RemainingHour)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>

            <td>
                @if (item.IsCompleted)
                {
                    <a asp-action="MakeIncomplete" asp-route-id="@item.Id" asp-route-showall="@Model.ShowAll">Incomplete</a> }
                else
                {
                    <a asp-action="MakeComplete" asp-route-id="@item.Id" asp-route-showall="@Model.ShowAll">Complete</a>
                }  |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
